.titleSubjectContainer {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #0f172a;
}
.textFilterSubjectPage {
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  color: #0f172a;
  font-family: var(--font-family);
  padding: 8px 16px;
}
.textFilterBlockSubjectPage {
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
}
.searchBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw - 160px);
}
.subjectContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
}
.subjectBlockCenter {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: start;
  justify-content: center;
  margin-inline: 80px;
  width: calc(100% - 160px);
  margin-top: 50px;
}
.subjectPage {
  max-width: 100vw;
}
.modalAddSubject {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  position: fixed;
  top: calc(50% - 328px);
  left: calc(50% - 325px);
}
.backgroundModalBlock {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.modalContainerSubjectsPage {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
  transition: 0.5s;
}
.modalAccSubjectPage {
  position: fixed;
  z-index: 100;
  top: 55px;
  right: 80px;
  transition: 1s;
}
.accModalRefactoringSubjectPage {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  position: fixed;
  top: calc(50% - 269px);
  left: calc(50% - 339px);
}
.backgroundAccModalRefactoringSubjectPage {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.containerAccModalRefactoringSubjectPage {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10000;
  transition: 0.5s;
}
.subjectCardPageSubject {
  width: 100%;
  min-width: 300px;
  max-width: calc((100vw - 72px + 24px - 160px) / 3);
}
